<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" itemscope itemtype="http://schema.org/Product">
<head>
	<meta charset="utf-8">
    <meta itemprop="name" content="Таймер времени &amp; денег 3.0">
    <meta itemprop="description" content="Работаем - включаем, не работаем - выключаем. Потом собираем profit.">
    <meta itemprop="image" content="http://mr-woodman.ru/timer/images/share3.png">
    <meta property="og:title" content="Таймер времени &amp; денег 3.0"/>
    <meta property="og:image" content="http://mr-woodman.ru/timer/images/share3.png"/>
    <meta property="og:url" content="http://mr-woodman.ru/timer/"/>
    <meta property="og:description" content="Сначала ты записываешь своё время, а потом предъявляешь. Таймер 3.0. Для аутсорсевросв, тьфу ты, удаленных разработчиков"/>
    <meta name="description" content="Таймер. Для аутсорсеров, разработчиков с почасовой оплатой/отчетами" />

	<title>Таймер</title>
	<link rel="stylesheet" href="css/timerwood.css">
	<!--<script src="http://mr-woodman.ru/js/typogrid.js"></script>-->
	
	<script src="js/funnyphrases.js"></script>

	<script src="lib/jquery/jquery-1.9.1.js"></script>
	<!--<script src="lib/dropbox/dropbox-datastores-1.0-latest.js"></script>
	<script src="lib/parse/parse-1.2.17.js"></script>
	<script src="lib/parse/jquery.parse.js"></script>-->
	<script src="lib/angular/angular.js"></script>
	<!-- <script src="lib/angular/dropstore-ng.js"></script> -->
	<script src="js/app.js"></script>
	<script src="js/srv-storage.js"></script>
	<script src="js/srv-timer.js"></script>
	<script src="js/srv-tasks.js"></script>
	<script src="js/srv-days.js"></script>
	<script src="js/ctrl-timer.js"></script>
	<script src="js/ctrl-switchview.js"></script>
	<script src="js/ctrl-storageview.js"></script>
	<script src="js/ctrl-dateview.js"></script>
	<script src="js/ctrl-taskview.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>

<!-- Google Script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48337655-1', 'mr-woodman.ru');
  ga('send', 'pageview');

</script>

</head>


<body tw-global-shortcuts ng-app="TimerwoodApp">
<img src="http://mr-woodman.ru/timer/images/share3.png" style="display: none;">


	<!-- Инициализация Facebook SDK -->
    <div id="fb-root"></div>
    <script>
        // // асинхронный старт
        // window.fbAsyncInit = function() {
        //     var id = "";
        //     if(location.hostname == "localhost") {
        //         id = "723250731029172";
        //     }
        //     else if(location.hostname == "mr-woodman.ru") {
        //         id = "1450152585220960";
        //     }
        //     FB.init({
        //         appId      : id,
        //         status     : false,
        //         xfbml      : false
        //     });           
        //     // Инициализация приложения эпик-тред анализа
        //     angular.bootstrap(document.body, ["TimerwoodApp"]);
        // };
        // (function(d, s, id){
        //     var js, fjs = d.getElementsByTagName(s)[0];
        //     if (d.getElementById(id)) {return;}
        //     js = d.createElement(s); js.id = id;
        //     js.src = "http://connect.facebook.net/en_US/all.js";
        //     fjs.parentNode.insertBefore(js, fjs);
        // }(document, 'script', 'facebook-jssdk'));
    </script>


<page class="notes" ng-class="{shownotes: notes, menu: menu}" ng-cloak>
	<article>
		<iframe src="http://mr-woodman.ru/notes" width="100%" height="300px" border="0px"></iframe>
	</article>
</page>


<page class="back" ng-class="{menu: menu}" ng-controller="MenuCtrl" ng-cloak>
	<nav class="menu">
		<span class="menu-icon" ng-click="menu=!menu;" title="Спрятать панель меню">&mdash;</span>
	</nav>

	<article>
		<p><strong>Клавиши</strong></p>
		<p>
			<strong>H</strong> &mdash; помощь (<a ng-click="help=!help; menu=false;"><span ng-if="!help">показать</span><span ng-if="help">скрыть</span></a>)<br>
			<strong>M</strong> &mdash; панель меню (<a ng-click="menu=false;">спрятать</a>)<br>
			<strong>N</strong> &mdash; записки (<a ng-click="notes=!notes; menu=false;"><span ng-if="!notes">показать</span><span ng-if="notes">скрыть</span></a>)
		</p>
		<p>&nbsp;</p>

		<p><strong>Показывать</strong></p>
		<p>
			<select ng-model="settings.dateRecent" ng-options="r.value for r in recent"></select>
				<span ng-show="settings.dateRecent.value == 1">последний день</span>
				<span ng-show="settings.dateRecent.value >= 2 && settings.dateRecent.value <= 4">последниx дня</span>
				<span ng-show="settings.dateRecent.value >= 5">последниx дней</span><br>
			<select ng-model="settings.taskRecent" ng-options="r.value for r in recent"></select>
				<span ng-show="settings.taskRecent.value == 1">последнюю задачу</span>
				<span ng-show="settings.taskRecent.value >= 2 && settings.taskRecent.value <= 4">последние задачи</span>
				<span ng-show="settings.taskRecent.value >= 5">последниx задач</span>
		</p>
		<p>&nbsp;</p>

		<p><strong>Синхронизация</strong></p>
		<p>
			Текущий аккаунт:
			<strong ng-if="!settings.currentAccount">нет</strong>
			<strong ng-if="settings.currentAccount">{{settings.currentAccount}}</strong>
		</p>
		<p>
			Скопировать текущие данные в:<br>
			<input class="small" type="text" placeholder="Код аккаунта" tw-prevent-shortcuts>
		</p>
		<p>&nbsp;</p>
	</article>
</page>






<page class="front" ng-class="{menu: menu, shownotes: notes}" ng-cloak>

	<nav class="menu" ng-show="!menu">
		<a class="menu-icon" ng-click="menu=!menu;" title="Открыть панель меню">&mdash;</a>
	</nav>






	<div ng-controller="TimerCtrl" ng-class="[status]" ng-cloak>
		<button class="time" ng-click="toggle()" title="{{toggleTip[status]}}">
			<span class="hour" ng-class="{low: info.duration < 3600000}">{{info.duration|filterMillisecondsTo:"hh"}}</span><span class="divider" ng-class="{low: info.duration < 60000}">:</span><span class="min" ng-class="{low: info.duration < 60000}">{{info.duration|filterMillisecondsTo:"mm":true}}</span>
			<span class="sec">{{info.duration|filterMillisecondsTo:"ss":true}}</span>
			<span class="ms">{{info.duration|filterMillisecondsTo:"ms":true}}</span>
		</button>

		<input type="text" class="task"
			ng-show="type != 'simple'" 
			ng-model="details" 
			ng-list=","
			ng-keydown="save($event);"
			placeholder="{{placeholder}}"
			tw-focus-on-edit
			tw-prevent-shortcuts>

		<help class="button-help" ng-show="help" ng-cloak>
			<img src="images/help-arrow-01.png">
			<strong>Главная Кнопка</strong><br>
			Запускать также можно кликами по задачам<br>
			и Enter’ом в поле справа.
		</help>
		<help class="input-help" ng-show="help" ng-cloak>
			<img src="images/help-arrow-02.png">
			Название задачи (генерится случайно, если не вводить).<br>
			<strong>Через запятую</strong> задаётся вложенность задачи, <strong>enter</strong>’ом запускается таймер.  
		</help>
	</div>











	<div ng-controller="SwitchViewCtrl" class="switch-views" ng-show="storage.entries.length > 0" ng-cloak>



		<nav>
			<help class="views-help" ng-show="help" ng-cloak>
				<img src="images/help-arrow-03.png">
				Записи внутренне хранятся простым списком (<strong>хранилище</strong>). <br>
				Для удобства они группируются в виде истории (<strong>дни</strong>) или <br>
				дерева подзадач (<strong>задачи</strong>).
			</help>

			<a ng-click="currentView = 'task'" title="">задачи</a>
			<a ng-click="currentView = 'date'" title="">дни</a>
			<!-- <a ng-click="currentView = 'log'" title="">лог</a> -->
			<a ng-click="currentView = 'storage'" title="Формат хранения задач на сервере, недавние вверху. Для низкоуровневого редактирования и дебага">хранилище</a>
		</nav>





		<div ng-controller="TasksViewCtrl" class="view" ng-class="{show: currentView == 'task', price: price.hour}" ng-init="recentTasks = false">
			<form class="price-hour">Цена часа: <input type="text" class="small" ng-model="price.hour" placeholder="?" tw-prevent-shortcuts> рублей</form>
			<div ng-show="currentView == 'task'">
				<section class="recent">
					<ul class="task-list">
						<li ng-repeat="task in tasks | filter:recent" ng-include="'task-template'" ng-class="{group: task.children.length > 0}"></li>
					</ul>
				</section>
				<div class="toggle-all" ng-show="tasks.length > recentCount">
					<a ng-click="recentTasks = !recentTasks">
						{{ recentTasks && "Скрыть" || "Показать" }} ранние проекты
					</a>
				</div>
				<section class="all" ng-show="recentTasks == true">
					<ul class="task-list">
						<li ng-repeat="task in tasks | filter:excludeRecent" ng-include="'task-template'" ng-class="{group: task.children.length > 0}"></li>
					</ul>
				</section>
			</div>
		</div>






		<div ng-controller="DateViewCtrl" class="view" ng-class="{show: currentView == 'date', price: price.hour}" ng-init="recentDates = false">
			<form class="price-hour">Цена часа: <input type="text" class="small" ng-model="price.hour" placeholder="?" tw-prevent-shortcuts> рублей</form>
			<div ng-show="currentView == 'date'">
				<section class="recent">
					<ul class="date-list">
						<li ng-repeat="day in days | filter:recent" ng-include="'day-template'"></li>
					</ul>
				</section>
				<div class="toggle-all" ng-show="days.length > recentCount">
					<a ng-click="recentDates = !recentDates">{{ recentDates && "Скрыть" || "Показать" }} ранние даты</a>
				</div>
				<section class="all" ng-show="recentDates == true">
					<ul class="date-list">
						<li ng-repeat="day in days | filter:excludeRecent" ng-include="'day-template'"></li>
					</ul>
				</section>
			</div>
		</div>







		<div ng-controller="StorageViewCtrl" class="view" ng-class="{show: currentView == 'storage'}">
			<form class="search-entries">
				<input type="text" class="small"
					ng-model="search" 
					ng-list=","
					tw-focus-on-switch-view 
					tw-prevent-shortcuts 
					placeholder="Введите фильтры через запятую">
					<a class="clear-filter" ng-click="search=null" ng-show="search.length > 0">&times;</a>
			</form>
			<div ng-show="currentView == 'storage'">
				<ul class="storage-list">
					<li ng-repeat="entry in filtered = (entries | filter:searchTags)" ng-init="status='view'; entryScope = this" ng-class="status">
						<div ng-if="status == 'edit'">
							<input type="text" class="small date" 
								ng-model="entry.editDate" 
								tw-prevent-shortcuts 
								ng-keydown="checkSubmit($event, entry, entryScope)">							
							<span class="grey">в</span> 
							<input type="text" class="small start" 
								tw-focus-on-edit 
								tw-prevent-shortcuts 
								ng-model="entry.editStart" 
								ng-keydown="checkSubmit($event, entry, entryScope)">						
							<input type="text" class="small details"
								ng-model="entry.editDetails" 
								ng-list="," 
								tw-prevent-shortcuts 
								ng-keydown="checkSubmit($event, entry, entryScope)">		
							<input type="text" class="small duration" 
								ng-model="entry.editDuration" 
								tw-prevent-shortcuts 
								ng-keydown="checkSubmit($event, entry, entryScope)">
						</div>
						<div ng-if="status == 'view'">
							<span class="start">{{entry.start | filterDateTo:'dd.mm.yyyy'}} в {{entry.start | filterDateTo: 'hh:mm'}}</span>
							<span class="details" title="Запустить задачу" ng-click="start(entry.details)" scroll-top-on-click>{{entry.details}}</span>
							<span class="duration">{{entry.stop - entry.start | filterMillisecondsTo:'hour min'}}</span>
						</div>
						<span class="controls">
							<a class="delete" ng-click="delete(entry); status='view'">удалить</a>
							<a class="edit" ng-click="edit(entry); status='edit';">редактировать</a>
							<a class="save" ng-click="save(entry); status='view'">сохранить</a>
							<a class="cancel" ng-click="cancel(entry); status='view'">отмена</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>






	<footer ng-controller="FooterCtrl" ng-show="storage.length > 0" ng-cloak>
		<span style="font-size: 18px;">Таймер 3.0</span>
		<br><span>сделано на левом берегу &trade;</span>
		<br><br><img src="images/cat-preloader.gif">
	</footer>








	<!-- Шаблон задачи -->
	<script type="text/ng-template" id="task-template">
		<div class="task" ng-class="{ leaf: task.children.length == 0, edit: status=='edit', short: task.getDuration() < 60000, selfshort: task.getOwnDuration() < 60000 }" tw-parent-hover ng-init="status='view'">
			<a class="continue-task name" title="Продолжить задачу" 
				ng-click="start(task)" 
				scroll-top-on-click>{{task.name}}</a>
			<a class="create-subtask name" title="Начать подзадачу" 
				ng-click="subTask(task)" 
				scroll-top-on-click>{{task.name}}</a>
			<input type="text" class="small name"
				ng-model="task.path"
				ng-list="," 
				tw-focus-on-edit 
				tw-prevent-shortcuts 
				ng-keydown="checkSubmit($event, task, this)">
			<span class="duration">{{task.getOwnDuration() | filterMillisecondsTo:'hour min'}}</span>
			<span class="duration-total">{{task.getDuration() | filterMillisecondsTo:'hour min'}}</span>
			<span class="price" ng-if="price.hour">{{getPrice(task.getDuration())|spacedNumber}}</span>
			<span class="controls" ng-class="status">
				<a class="sub-task" ng-click="subTask(task)" scroll-top-on-click>подзадача</a>
				<a class="edit" ng-click="edit(task); status='edit'">редактировать</a>
				<a class="filter-storage" ng-click="filterStorageView(task);" title="Поиск записей по хранилищу" scroll-top-on-click><img class="icon" src="images/icon-search.svg" alt="Поиск по хранилищу"></a>
				<a class="delete" ng-click="delete(task); status='view'">удалить</a>
				<a class="save" ng-click="save(task); status='view'">сохранить</a>
				<a class="cancel" ng-click="cancel(task); status='view'">отмена</a>
			</span>
		</div>
		<ul ng-if="task.children.length > 0">
			<li ng-repeat="task in task.children" ng-include="'task-template'" tw-hover-leaf-li>
		</ul>
	</script>







	<!-- Шаблоны дня -->
	<script type="text/ng-template" id="day-template">
		<header ng-class="{short: day.getDuration() < 60000}">
			<span class="today">{{day.getDate() | filterDateTo: 'today'}}</span>
			<span class="date">{{ day.getDate() | filterDateTo:'d' }}</span>
			<span class="month">{{ day.getDate() | filterDateTo:'M' }}</span>
			<span class="duration">{{ day.getDuration() | filterMillisecondsTo:'hour min' }}</span>
			<span class="price" ng-if="price.hour">{{getPrice(day.getDuration())|spacedNumber}}</span>
			<span class="controls">
				<a class="filter-storage" 
					ng-click="filterStorageViewByDate(date.getDate());" 
					title="Поиск записей по хранилищу" 
					scroll-top-on-click><img class="icon" src="images/icon-search.svg" alt="Поиск по хранилищу"></a>
			</span>
		</header>
		<ul class="leaf-task-list">
			<li ng-repeat="task in day.tasks" ng-init="status = 'view'; entryScope = this" class="{{status}}" ng-class="{ short: task.getDuration() < 60000 }">
				<div ng-if="status == 'edit'">
					<input type="text" class="small date" 
						ng-model="task.editDate" 
						tw-prevent-shortcuts 
						ng-keydown="checkSubmit($event, task, entryScope)"> &nbsp; 
					<input type="text" class="small details"
						ng-model="task.editDetails" 
						ng-list="," 
						tw-focus-on-edit 
						tw-prevent-shortcuts 
						ng-keydown="checkSubmit($event, task, entryScope)">
				</div>
				<div ng-if="status == 'view'">
					<a class="task" title="Продолжить задачу" 
						ng-click="start(task)" 
						scroll-top-on-click>
						<span ng-repeat="name in task.getDetails() track by $index">{{name}}</span>
					</a>
					<span style="opacity: 0.5; padding: 0 0.125em;">&ndash;</span>
					<span class="duration">{{ task.getDuration() | filterMillisecondsTo:'hour min' }}</span>
					<span class="price" ng-if="price.hour">{{getPrice(task.getDuration())|spacedNumber}} руб.</span>
				</div>
				<span class="controls">
					<a class="edit" ng-click="edit(task); status='edit'">редактировать</a>
					<a class="filter-storage" 
						ng-click="filterStorageViewByTask(task);" 
						title="Поиск записей по хранилищу" 
						scroll-top-on-click><img class="icon" src="images/icon-search.svg" alt="Поиск по хранилищу"></a>
					<a class="delete" ng-click="delete(task); status='view'">удалить</a>
					<a class="save" ng-click="save(task); status='view'">сохранить</a>
					<a class="cancel" ng-click="cancel(task); status='view'">отмена</a>
				</span>
			</li>
		</ul>
	</script>






	<!-- Попапы 
	<div class="dialog" ng-controller="PopupCtrl" ng-show="greetingPopup" ng-cloak>
		<article style="width: 550px;">
			<h3>Таймер 3.0</h3>
			<p>Это крупное изменение.</p>
			<p>В нём я постарался реализовать все что хотел и так, как хотел. И это получилось.</p>
			<p>Среди фич, которые просили:<br>
				&emsp; &mdash; &nbsp; разбиение по задачам (вид &laquo;задачи&raquo;)<br>
				&emsp; &mdash; &nbsp; редактирование<br>
				&emsp; &mdash; &nbsp; <del>отчёты c баблом и синхронизация</del> (в след. апдейтах)
			</p>
			<p>Если не разберетесь или чего-то не хватает, пишите на <a href="http://www.facebook.com/woodmanswork" target="_blank">facebook.com/woodmanswork</a></p>
			<p style="text-align: center;">
				<a class="ok" ng-click="close('greetingPopup')">Очень рад</a>
				&emsp;
				<a class="ok" ng-click="close('greetingPopup')">Да пофиг</a>
			</p>
			<p style="text-align: center;"><label><input type="checkbox" ng-model="hideGreetingPopup" checked="checked" ng-change="save(hideGreetingPopup)"> Не показывать в след. раз</label></p>
		</article>
	</div>-->

</page>

</body>
</html>