<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Таймер</title>
	<link rel="stylesheet" href="css/timerwood.css">

	<!--<script src="http://mr-woodman.ru/js/typogrid.js"></script>-->

	<script src="js/funnyphrases.js"></script>
	
	<!--  Импорт из старых таймеров -->
	<script src="lib/jquery-1.7.2.min.js"></script>
	<script src="lib/jstorage.js"></script>
</head>
<body ng-app="TimerwoodApp">

	<!-- <div class="help"><a title="Меню и помощь">&equiv;</a></div> -->

	<div ng-controller="TimerCtrl" ng-class="[status, type]">
		<!-- <div class="path" ng-show="type != 'simple'">
			<a ng-click="newTask()">+ новая задача</a> / 
			<a>apollo</a> / 
			<a>choister</a> / 
			<a>Инфографика</a>
		</div> -->

		<!-- <a class="new-subtask" ng-click="newSubTask()" ng-show="type != 'simple'" title="Текущая задача становится группой, в ней создается новая подзадача которая и станет текущей. Существующее время перенесется в подзадачу 'Разное'">разбить на подзадачи</a> -->

		<a ng-click="toggleType()" title="{{typeTip[type]}}">{{ (type=="simple") && "сложный таймер →" || "← простой таймер"}}</a>

		<button class="time" ng-click="toggle()" title="{{toggleTip[status]}}">
			<span class="hour" ng-class="{low: info.duration < 3600000}">{{info.duration|filterMillisecondsTo:"hh"}}</span><span class="divider" ng-class="{low: info.duration < 60000}">:</span><span class="min" ng-class="{low: info.duration < 60000}">{{info.duration|filterMillisecondsTo:"mm":true}}</span>
			<span class="sec">{{info.duration|filterMillisecondsTo:"ss":true}}</span>
			<span class="ms">{{info.duration|filterMillisecondsTo:"ms":true}}</span>
		</button>

		<input class="task" type="text" 
			ng-show="type != 'simple'" 
			ng-model="details" 
			ng-list=","
			ng-keydown="save($event);"
			placeholder="{{funnytask}}"
			tw-focus-on-subtask>
	</div>

	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>

	<div class="switch-views" ng-controller="SwitchViewCtrl" ng-show="storage.length > 0">
		<nav>
			<a ng-click="currentView = 'task'" title="">задачи</a>
			<a ng-click="currentView = 'date'" title="">дни</a>
			<!-- <a ng-click="currentView = 'log'" title="">лог</a> -->
			<a ng-click="currentView = 'storage'" title="Формат хранения задач на сервере, недавние вверху. Для низкоуровневого редактирования и дебага">хранилище</a>
		</nav>

		<!-- Задачи -->
		<div class="view" ng-controller="TasksViewCtrl" ng-class="{show: currentView == 'task'}" ng-init="recentTasks = false">
			<section class="recent">
				<ul class="task-list">
					<li ng-repeat="task in tasks | filter:recent" ng-include="'task-template'" ng-class="{group: task.children.length > 0}"></li>
				</ul>
			</section>

			<div class="toggle-all" ng-show="tasks.length > recentCount">
				<a ng-click="recentTasks = !recentTasks">
					{{ recentTasks && "Скрыть" || "Показать" }} ранние проекты
				</a>
			</div>

			<section class="all" ng-show="recentTasks == true">
				<ul class="task-list">
					<li ng-repeat="task in tasks | filter:excludeRecent" ng-include="'task-template'" ng-class="{group: task.children.length > 0}"></li>
				</ul>
			</section>
		</div>

		<!-- По дням -->
		<div class="view" ng-controller="DateViewCtrl" ng-class="{show: currentView == 'date'}" ng-init="recentDates = false">
			<section class="recent">
				<ul class="date-list">
					<li ng-repeat="entry in days | filter:recent" ng-include="'day-template'"></li>
				</ul>
			</section>

			<div class="toggle-all" ng-show="days.length > recentCount">
				<a ng-click="recentDates = !recentDates">
					{{ recentDates && "Скрыть" || "Показать" }} ранние даты
				</a>
			</div>

			<section class="all" ng-show="recentDates == true">
				<ul class="date-list">
					<li ng-repeat="entry in days | filter:excludeRecent" ng-include="'day-template'"></li>
				</ul>
			</section>
		</div>

		<!-- Хранилище -->
		<div class="view" ng-controller="StorageViewCtrl" ng-class="{show: currentView == 'storage'}">
			<ul class="storage-list">
				<li ng-repeat="entry in entries">
					<span 
						class="start" 
						ng-click="openEditStartDateDialog(entry.start)">{{entry.start | filterDateTo:'dd.mm.yyyy'}}</span> 
					<span class="start">в</span> 
					<span 
						class="start" 
						ng-click="openEditStartTimeDialog(entry.start)">{{entry.start | filterDateTo: 'hh:mm'}}</span>

					<br class="show-on-mobile">

					<span class="details" title="Запустить задачу" ng-click="start(entry.details)" scroll-top-on-click>{{entry.details}}</span>

					<br class="show-on-mobile">

					<span 
						class="duration" 
						ng-click="openEditDurationDialog(entry.stop - entry.start)">{{entry.stop - entry.start | filterMillisecondsTo:'hour min'}}</span>

					<span class="controls">
						<!-- <a class="edit" ng-click="editEntry(entry)">редактировать</a> -->
						<a class="delete" ng-click="deleteEntry(entry)">удалить</a>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<footer ng-controller="FooterCtrl" ng-show="storage.length > 0">
		<span style="font-size: 18px;">Таймер 3.0</span>
		<br><span>сделано на левом берегу &trade;</span>
	</footer>

	<!-- Попап редактирования длительности -->
	<script type="text/ng-template" id="edit-duration">
		<p>Длительность:</p>
		<form ng-submit="ok()">
			<input class="duration" type="text" ng-model="duration" placeholder="0ч 0м" tw-duration-input> 
			<p>&nbsp;</p>
			<button type="submit" style="text-decoration: underline; font-size: 14px; background-color: transparent;">изменить</button> 
			&nbsp; &nbsp;
			<button ng-click="cancel()" style="text-decoration: underline; font-size: 14px; background-color: transparent; opacity: 0.5;">закрыть</button>
		</form>
	</script>

	<!-- Попап редактирования времени начала -->
	<script type="text/ng-template" id="edit-time">
		<p>Время начала:</p>
		<form ng-submit="ok()">
			<input class="time" type="text" ng-model="time" placeholder="чч:мм" tw-time-input> 
			<p>&nbsp;</p>
			<button type="submit" style="text-decoration: underline; font-size: 14px; background-color: transparent;">изменить</button> 
			&nbsp; &nbsp;
			<button ng-click="cancel()" style="text-decoration: underline; font-size: 14px; background-color: transparent; opacity: 0.5;">закрыть</button>
		</form>
	</script>

	<!-- Попап редактирования даты начала -->
	<script type="text/ng-template" id="edit-date">
		<form ng-submit="ok(form.date.$error.date)">
			<input class="date" type="text" ng-model="date" placeholder="дд.мм.гггг" tw-date-input>
			<br>
			<span class="error" ng-show="form.dateInput.$error.date" style="font-size: 12px;">Неверная дата</span> 
		</form>
	</script>

	<!-- Шаблон задачи -->
	<script type="text/ng-template" id="task-template">
		<div class="task"><span class="duration leaf">{{task.getDuration() | filterMillisecondsTo:'hh:mm'}}</span><a class="name" title="Продолжить задачу" ng-click="start(task)" scroll-top-on-click>{{task.name}}</a><a class="sub-task" ng-click="subTask(task)" scroll-top-on-click>создать подзадачу</a><span class="duration group">{{task.getDuration() | filterMillisecondsTo:'hour min'}}</span></div>
		<ul ng-show="task.children.length > 0">
			<li ng-repeat="task in task.children" ng-include="'task-template'" ng-class="{group: task.children.length > 0}">
		</ul>
	</script>

	<!-- Шаблон дня -->
	<script type="text/ng-template" id="day-template">
		<header>
			<span class="entry.date">{{ entry.date | filterDateTo:'dd MM today' }}</span>
			<span class="duration">{{ entry.getDuration() | filterMillisecondsTo:'hour min' }}</span>
		</header>

		<ul class="leaf-task-list">
			<li ng-repeat="task in entry.tasks">
				<span class="duration">{{ task.getDuration() | filterMillisecondsTo:'h:mm' }}</span>
				<a class="task" ng-click="start(task.details)" scroll-top-on-click parent-hover parent-hover-class="hover-task" title="Продолжить задачу">
					<span ng-repeat-start="name in task.details">{{name}}</span>
					<span ng-repeat-end> / </span>
				</a>
				<!--<span class="controls">
					<a class="edit" ng-click="editEntry(entry)">редактировать</a>
					<a class="delete" ng-click="deleteEntry(entry)">удалить</a>
				</span>-->
			</li>
		</ul>
	</script>

	<script src="lib/angular.js"></script>
	<script src="lib/ui-bootstrap-custom-tpls-0.7.0.js"></script>
	<script src="js/app.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>